{{#link-to "page" @page class="index-content-card"}}
  <div class="border border-grey-light bg-white rounded-sm p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      {{yield}}
    </div>
  </div>
{{/link-to}}
