.doc {
  @extend .font-sans;
  @extend .text-lg;
  @extend .max-w-lg;
  @extend .mx-auto;

  a {
    @extend .text-blue;
    @extend .no-underline;

    &:hover {
      border-bottom: 1px solid $text-blue;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @extend .font-heading;
    @extend .leading-normal;
    @extend .font-bold;

    a {
      @extend .text-black;
      @extend .no-underline;
      @extend .text-indigo-dark;

      &:hover {
        border-bottom: 2px solid $text-blue;
      }
    }

    em {
      font-weight: 700;
      font-style: italic;
    }
  }

  h1 {
    @extend .text-5xl;
    border-bottom: 2px solid #ccc;
  }

  h2 {
    @extend .text-4xl;
  }

  h3 {
    @extend .text-3xl;
  }

  h4 {
    @extend .text-2xl;
  }

  h5 {
    @extend .text-xl;
  }

  p, ol, ul, li, h1, h2, h3, h4, h5, h6 {
    @extend .my-6;
    @extend .leading-normal;
  }
}
