{{head-layout}}
{{title "Carsten Nielsen"}}

<header>
  <h1>
    {{#link-to "index"}}
      Carsten Nielsen
    {{/link-to}}
  </h1>
</header>

<div class="container">
  {{outlet}}
</div>

<footer>
  &copy; {{model.year}} Carsten Nielsen
</footer>
