{{title model.attributes.title replace=true}}

<section>
  <p class="-mt-16 text-center">
    <img
      class="rounded-full h-64 w-64 shadow-md"
      src="/images/heycarsten.jpg"
      alt="Carsten's face"
    >
  </p>

  <h1 class="mt-4 mb-2 text-center font-heading text-5xl">
    Carsten Nielsen
  </h1>

  <p class="mt-2 text-center text-grey-dark line-loose">
    <span class="inline-block animated bounce delay-2s slow">
      {{svg-jar
        "location"
        class="inline-block fill-current text-green-light -mb-1"
      }}
    </span>

    Collaborating remotely from

    <a
      class="text-grey-dark"
      href="https://goo.gl/maps/2k1W6tsf5sF2"
      target="_blank"
      rel="noopener"
    >
      Dundas, Ontario
    </a>
  </p>


  <div class="doc intro-doc container mt-12 mb-12 relative">
    {{markdown-to-html model.content tagName="article"}}
  </div>
</section>

<section class="index-content-cards">
  <IndexContentCard @page="tools-and-processes">
    <h3 class="text-black font-bold text-xl mb-2">
      My Tools and Processes
    </h3>
    <p class="text-grey-darker text-base">
      The tools I use, how and why I use them, and how I came to these
      preferences over 12 years as a professional
    </p>
  </IndexContentCard>

  <IndexContentCard @page="outside-of-tech">
    <h3 class="text-black font-bold text-xl mb-2">
      Me Outside of Tech
    </h3>
    <p class="text-grey-darker text-base">
      My life outside of software and technology, I have a lot of
      other interests and passions which directly and indirectly influence my
      professional life
    </p>
  </IndexContentCard>
</section>
