{{title model.attributes.title replace=true}}

<p class="-mt-8 text-center">
  <img
    class="rounded-full h-48 w-48 shadow-md"
    src="/images/heycarsten.jpg"
    alt="Carsten's face"
  >
</p>

<p class="my-8 text-center text-grey-dark">
  I work remotely from
  <a
    class="text-grey-dark"
    href="https://goo.gl/maps/2k1W6tsf5sF2"
    target="_blank"
    rel="noopener"
  >
    Dundas, Ontario
  </a>
</p>


{{markdown-to-html
  model.content
  tagName="article"
  class="doc intro-doc container mt-10 mb-12 mx-auto max-w-lg"
}}

<nav>
  <ul>
    <li>
      <h3>
        {{#link-to "page" "tools-and-processes"}}
          My tools and processes
        {{/link-to}}
      </h3>
      <p>
        Some insight into the tools I use, how I use them, and how I came to
        developing these preferences
      </p>
    </li>
    <li>
      <h3>
        {{#link-to "page" "outside-of-tech"}}
          Me outside of tech
        {{/link-to}}
      </h3>
      <p>
        About my life outside of software and technology, I have a lot of
        other interests and passions
      </p>
    </li>
  </ul>
</nav>
