{{title model.attributes.title replace=true}}

<p align="center">
  <img width="200" height="200" src="/images/portrait.png" alt="Carsten's face">
</p>

<article>
  {{markdown-to-html model.content}}
</article>

<nav>
  <ul>
    <li>
      <h3>
        {{#link-to "page" "tools-and-processes"}}
          My tools and processes
        {{/link-to}}
      </h3>
      <p>
        Some insight into the tools I use, how I use them, and how I came to
        developing these preferences
      </p>
    </li>
    <li>
      <h3>
        {{#link-to "page" "outside-of-tech"}}
          Me outside of tech
        {{/link-to}}
      </h3>
      <p>
        About my life outside of software and technology, I have a lot of
        other interests and passions
      </p>
    </li>
  </ul>
</nav>
